<p-button (click)="showDialog()" label="Nueva Transacción" />

<p-dialog
  header="Guardar Producto"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '100%', height: '100%' }"
  [draggable]="false"
>
  <form [formGroup]="transactionForm" (ngSubmit)="onSaveTransaction()" class="space-y-4">
    <!-- Tipo -->
    <div class="flex justify-center items-center gap-4">
      <label class="block font-semibold">Tipo</label>
      <p-select
        [options]="transactionTypes"
        formControlName="type"
        optionValue="key"
        optionLabel="label"
        placeholder="Seleccione un tipo"
        class="w-full md:w-56"
      />
    </div>

    <!-- Lista de detalles -->
    <div formArrayName="details" class="space-y-3">
      <label class="block font-semibold">Detalles</label>

      <!-- Encabezados -->
      <div class="grid grid-cols-6 gap-4 font-semibold w-full justify-center items-center">
        <div>Producto</div>
        <div>Codigo</div>
        <div>Cantidad</div>
        <div>Precio Unitario</div>
        <div>Precio Total</div>
        <div></div>
        <!-- Columna para el botón -->
      </div>

      <!-- Filas dinámicas -->
      <div
        *ngFor="let detail of details.controls; let i = index"
        [formGroupName]="i"
        class="grid grid-cols-6 gap-4 justify-center items-center"
      >
        <input readonly pInputText formControlName="productId" placeholder="Producto" />
        <input readonly pInputText formControlName="productCode" placeholder="Codigo" />
        <p-inputNumber
          (onBlur)="updateTotalPrice(i)"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          formControlName="quantity"
          [min]="0"
        ></p-inputNumber>
        <p-inputNumber
          (onBlur)="updateTotalPrice(i)"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          formControlName="unitPrice"
          [min]="0"
        ></p-inputNumber>
        <p-inputNumber
          readonly
          formControlName="totalPrice"
          [min]="0"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
        ></p-inputNumber>
        <button
          type="button"
          pButton
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="removeDetail(i)"
        ></button>
      </div>
    </div>

    <div class="flex justify-center p-5 bg-gray-100 rounded-lg">
      <app-choose-products (productsToEmit)="onProductsSelected($event)"></app-choose-products>
    </div>

    <!-- Total -->
    <div class="flex justify-end items-center gap-4">
      <label class="block font-semibold">Total</label>
      <p-inputNumber
        readonly=""
        formControlName="totalAmount"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        [min]="0"
      ></p-inputNumber>
    </div>

    <!-- Comentario -->
    <div class="flex flex-col items-center justify-between gap-4 w-full">
      <label class="block font-semibold">Comentario</label>
      <textarea class="w-full" pInputTextarea formControlName="comment"></textarea>
    </div>
    <div class="flex justify-end gap-4 mt-4">
      <button
        type="button"
        pButton
        label="Cerrar"
        class="p-button-secondary"
        (click)="closeDialog()"
      ></button>
      <button type="submit" pButton label="Guardar Transacción"></button>
    </div>
  </form>
</p-dialog>
