<p-button (click)="showDialog()" label="Nuevo producto" />

<p-dialog
  header="Guardar Producto"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '36rem' }"
  [draggable]="false"
>
  <form [formGroup]="productForm" (ngSubmit)="onSave()" class="space-y-4">
    <!-- Nombre -->
    <div class="flex items-center gap-4">
      <label for="name" class="font-semibold w-32">Nombre *</label>
      <input pInputText id="name" class="flex-auto" required formControlName="name" />
    </div>

    <!-- Código -->
    <div class="flex items-start gap-4">
      <label for="code" class="font-semibold w-32 pt-2">Código *</label>
      <textarea
        pInputTextarea
        id="code"
        rows="3"
        class="flex-auto"
        formControlName="code"
        name="code"
      ></textarea>
    </div>

    <!-- Categoría -->
    <div class="flex items-center gap-4">
      <label for="category" class="font-semibold w-32">Categoría *</label>
      <input
        pInputText
        id="category"
        class="flex-auto"
        required
        formControlName="category"
        name="category"
      />
    </div>

    <!-- Descripción -->
    <div class="flex items-start gap-4">
      <label for="description" class="font-semibold w-32 pt-2">Descripción</label>
      <textarea
        pInputTextarea
        id="description"
        rows="3"
        class="flex-auto"
        formControlName="description"
        name="description"
      ></textarea>
    </div>

    <!-- Imagen -->
    <div class="flex items-center gap-4">
      <label for="imageUri" class="font-semibold w-32">Imagen URL</label>
      <input
        pInputText
        id="imageUri"
        class="flex-auto"
        formControlName="imageUri"
        name="imageUri"
        placeholder="https://..."
      />
    </div>

    <!-- Precio y Stock -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="flex items-center gap-4">
        <label for="price" class="font-semibold w-32">Precio *</label>
        <p-inputNumber
          inputId="price"
          class="flex-auto w-full"
          formControlName="price"
          name="price"
          [min]="0"
          [minFractionDigits]="2" [maxFractionDigits]="2"
          [useGrouping]="false"
          mode="decimal"
        />
      </div>

      <div class="flex items-center gap-4">
        <label for="stock" class="font-semibold w-32">Stock *</label>
        <p-inputNumber
          inputId="stock"
          class="flex-auto w-full"
          formControlName="stock"
          name="stock"
          [min]="0"
          [minFractionDigits]="2" [maxFractionDigits]="2"
          [useGrouping]="false"
          mode="decimal"
        />
      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-end gap-4 mt-4">
      <p-button (click)="closeDialog()" label="Cerrar" severity="secondary" />
      <p-button type="submit" label="Guardar" />
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>
